@use 'Reset';

/* 
    flex: 0 1 auto
    The above is shorthand for:
    flex-grow: 0,
    flex-shrink: 1,
    flex-basis: auto
*/

body {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans",
        "Droid Sans", "Helvetica Neue", sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.App {
    height: 100vh;
    background-color: #282c34;
    display: flex;
    flex-direction: column;
    flex-flow: column;
}

section {
    padding: 1rem;
}

section.inputs {
    flex: 0 1 10px;
    display: flex;
    gap: 10px;

    & > * {
        flex: 1;
    }
}

section.bars {
    flex: 1 1 auto;
    // padding:1rem 1rem 0 1rem;
    padding:1rem 0 0 0;
}

.bar-wrapper {
    display: flex;
    max-width: 100vw;
    width: 100%;
    height: 100%;
    align-items: flex-end;
    // border:1px solid white;
    box-sizing: border-box;
}

input[type=button] {
    position: relative;
    background:none;
    color: white;
    width: 256px;
    height: 32px;
    line-height: 1;
    transition: all 0.3s;
    outline:none;
    border: 1px solid white;
    cursor: pointer;
    
    span {
        transition: all 0.3s;
        transform: scale(1, 1);
    }

    &:before,
    &:after{
        content: "";
        position: absolute;
        transition: all 0.3s;
        bottom: 0;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: 1;
    }

    &:disabled{
        color:gray;
        border-color: gray;
    }
}